.forecast {
  &-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    padding-top: 4.6rem;
    padding-bottom: 7.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;


    //overflow-x: hidden;
    &:after {
      position: absolute;
      display: inline-block;
      content: '';

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: #081820;
      opacity: 0.76;
    }
  }

  &-person {
    position: absolute;
    display: inline-block;

    bottom: -7.6rem;
    right: 0;
    transform: translateX(45%);

    width: 46.9rem;
    height: 64.3rem;
    pointer-events: none;

    &__text {
      position: absolute;
      width: 100%;
      max-width: 18.4rem;

      bottom: 13.2rem;
      right: 3.2rem;
      text-align: center;
      @media (max-width: 1280px) {
        right: 8rem;
      }
    }
    &__name {
      font-family: 'GillSans-SemiBold';
      color: #cca562;
      letter-spacing: 0.027rem;
      font-size: 1.8rem;
      font-weight: 400;

    }

    &__position {
      font-family: 'GillSans-Light';font-weight: 300;
      color: #ffffff;
      font-size: 1.8rem;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;

    }

    @media (max-width: 1400px) {
      transform: translateX(39%);
      width: 45.9rem;
      height: 63.3rem;
    }

  }

  position: relative;
  z-index: 1;
  padding-top: 5.7rem;
  padding-right: 22rem;
  padding-bottom: 5.2rem;
  padding-left: 10rem;

  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1570px) {
    width: 95%;
  }
  @media (max-width: 1400px) {
    width: 93%;
  }

  &__title {
    width: 100%;
    max-width: 69.9rem;
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: 'GillSans-SemiBold';
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    @media (max-width: 1199px) {
      font-size: 4rem;
    }
  }

  &__description {
    width: 100%;
    max-width: 69.9rem;
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: 'GillSans-SemiBold';
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    @media (max-width: 1199px) {
      font-size: 2rem;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 69.9rem;

    box-sizing: border-box;
  }
  &__textarea {
    width: 100%;
    min-height: 13rem;
    padding: 2.2rem;
    margin-bottom: 2.3rem;
    background-color: #ffffff;
    resize: none;
    outline: none;
    color: #b7b7b7;
    font-family: "GillSans";
    font-size: 1.8rem;
    font-weight: 300;
    box-sizing: border-box;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */

      color: #b7b7b7;
      font-family: "GillSans";
      font-size: 1.8rem;
      font-weight: 300;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #b7b7b7;
      font-family: "GillSans";
      font-size: 1.8rem;
      font-weight: 300;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #b7b7b7;
      font-family: "GillSans";
      font-size: 1.8rem;
      font-weight: 300;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #b7b7b7;
      font-family: "GillSans";
      font-size: 1.8rem;
      font-weight: 300;
    }
  }


  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 38.4rem;
    margin: auto;
    padding: 2rem 4.2rem;
    border-radius: 3rem;
    background-color: #ffffff;
    background-image: linear-gradient(-8deg, #101b26 0%, #065065 99%, #065065 100%);

    color: #ffffff;
    font-family: "GillSans";
    font-size: 2rem;
    font-weight: 400;

  }

  &-logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 17.5rem;
    max-height: 18rem;
    top: calc(100% - 5rem);
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
