html {
  font-size: 10px;
  @media (max-width: 1199px) {
    font-size: 8px;
  }
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "GillSans";

}
main {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

}


.section__title {
  margin-bottom: 4.4rem;
  color: #064e63;
  font-family: 'GillSans-SemiBold';
  text-align: center;
  font-size: 5rem;
  font-weight: 400;

  &--left-text {
    text-align: left;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  @media (max-width: 750px) {
    font-size: 3rem;
  }
}

.text {
  color: #242d2f;
  font-family: 'GillSans-Light';
  font-size: 2.4rem;
  font-weight: 300;

  strong {
    font-family: 'GillSans-SemiBold';
  }

  &--bankruptcy {

    text-align: center;
    font-size: 2.4rem;

  }
}

input {
  border: 1px solid transparent;
  &.error {
    border-color: red;
  }

  &[type="checkbox"][ name="policy"].error + span {
    border-color: red;
  }
}

p a[href$=pdf] {
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
}

.hidden-text-js {
  overflow: hidden;
  height: 3.4rem;

  &.active {
    height: auto;
  }
}

.show-text-js {
  display: inline-block;
  width: 100%;
  margin-top: 2rem;
  text-align: center;

  color: #171a1b;
  font-size: 1.6rem;
  font-family: GillSans-Light;
  font-weight: 300;

}

.slick-slide {
  outline: none;
}