.footer {
  background-repeat: no-repeat;

  background-size:cover;
  overflow: hidden;
  &-top {
    display: flex;
    @media (max-width: 750px) {
      flex-direction: column;
    }
  }
  h6 {
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: 'GillSans-SemiBold';
    font-size: 2.4rem;
    font-weight: 400;
  }
  &-nav {
    display: flex;
    justify-content: center;
    padding-top: 5.4rem;
    padding-bottom: 4.5rem;
    @media (max-width: 500px) {
      flex-wrap: wrap;
    }
  }
  &-list {
    width: 100%;
    max-width: 22.3rem;
    margin-right: 5rem;
    @media (max-width: 1023px) {
      margin-right: 2rem;
    }
    @media (max-width: 500px) {
      max-width: 100%;
      margin: 2rem auto;
    }
    &:last-child{
      margin-right: 0;
    }



    li {
      margin-bottom: 2rem;
      a {
        color: #efefef;
        font-family: 'GillSans-Light';
        font-size: 1.8rem;
      }
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    width: 100%;
    max-width: 8.3rem;
    padding: 4.9rem 1.7rem;
    background-color: #0e1f28;

    @media (max-width: 750px) {
      max-width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;
    margin-bottom: 2.5rem;
    @media (max-width: 750px) {
      margin: 2rem;
    }
    img {
      width: 1005px;
      height: 100%;
      object-fit: contain;
    }
  }

  &-contacts {
    position: relative;
    padding-top: 5.4rem;
    padding-left: 3.5rem;
    text-align: right;


    color: #efefef;
    font-family: 'GillSans-Light';
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.4rem;

    @media (max-width: 750px) {
      text-align: center;
    }

    &:after {
      position: absolute;
      display: inline-block;
      content: '';

      background-color: #064e63;

      width: 300%;
      height: 100%;

      left: 0;
      top: 0;
      @media (max-width: 750px) {
        left: -20%;
      }
    }
    a {
      color: #efefef;
      font-family: 'GillSans-Light';
      font-size: 2rem;
      font-weight: 300;
    }

    strong {
      font-family: 'GillSans-SemiBold';
    }
    p, h6 {
      position: relative;
      z-index: 1;
    }
  }
  &-logo{

    width: 30.6rem;
    height: 10rem;
  }
  &-bottom {
    &-container {
      display: flex;
      padding-top: 4.5rem;
      padding-bottom: 3rem;
      @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &-text {
      width: 100%;
      max-width: 73.1rem;
      margin-left: 18.9rem;
      text-align: right;
      color: #1b325c;
      font-family: 'GillSans-Light';
      font-size: 1.4rem;
      font-weight: 300;
      @media (max-width: 550px) {
        margin: 1rem auto;
        text-align: center;
      }
    }

    &__link {
      display: inline-block;
      margin-top: 1.5rem;
      color: #1b325c;
      font-family: "GillSans";
      font-size: 2rem;
      font-weight: 400;
    }
  }
  &-logo {
    @media (max-width: 550px) {
      img {
        max-width: 100%;
      }
    }
  }
}