.algorithm {
  &-section {
    padding-top: 10rem;
    padding-bottom: 3rem;
  }

  &__title {
    margin-bottom: 6rem;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    &__top{
      display: flex;
      align-items: flex-end;
      margin-bottom: 1.2rem;
      height: 6rem;
    }
    &__icon {

      width: 4.7rem;
      height: 4.7rem;

      margin-bottom: 1.5rem;

      img {
        max-width: 100%;
      }
    }
    &__number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.3rem;
      height: 3.3rem;
      background-color: #064e63;

      color: #ffffff;
    }
    &__item {
      width: 100%;
      max-width: 30rem;

      margin-bottom: 5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: #171a1b;
      font-family: 'GillSans-Light';
      text-align: center;
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}